:root {
  --vc-clr-primary: theme("colors.text-2");
  --vc-clr-secondary: theme("colors.background.0");
  --vc-clr-white: theme("colors.background.600");
}

.carousel {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  touch-action: pan-y;
  overscroll-behavior: none;
}

.carousel.is-dragging {
  touch-action: none;
}

.carousel * {
  box-sizing: border-box;
}

.carousel__track {
  display: flex;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  transition: transform ease-out;
  height: var(--vc-trk-height, auto);
  transition-duration: var(--vc-trk-transition-duration);
}

.carousel__viewport {
  overflow: hidden;
}

.carousel__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.carousel.is-ttb {
  .carousel__track {
    flex-direction: column;
  }
}

.carousel.is-btt {
  .carousel__track {
    flex-direction: column-reverse;
  }
}

.carousel.is-vertical {
  .carousel__slide--clone:first-child {
    margin-block-start: var(--vc-trk-cloned-offset);
  }
}

.carousel:not(.is-vertical) {
  .carousel__slide--clone:first-child {
    margin-inline-start: var(--vc-trk-cloned-offset);
  }
}

.carousel.is-effect-fade {
  .carousel__track {
    transition: none;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }

  .carousel__slide {
    opacity: 0;
    width: 100% !important;
    height: 100% !important;
    transition: opacity ease-in-out;
    transition-duration: var(--vc-trk-transition-duration);
    grid-area: 1 / 1; /* Make all slides occupy the same grid cell */
    pointer-events: none; /* Prevent inactive slides from being clickable */
  }

  .carousel__slide--active {
    opacity: 1;
    pointer-events: auto; /* Re-enable pointer events for active slide */
  }
}

:root {
  --vc-icn-width: 1.2em;
}

.carousel__icon {
  width: var(--vc-icn-width);
  height: var(--vc-icn-width);
  fill: currentColor;
}

:root {
  --vc-nav-width: 30px;
  --vc-nav-height: 30px;
  --vc-nav-border-radius: 0;
  --vc-nav-color: var(--vc-clr-primary);
  --vc-nav-color-hover: var(--vc-clr-secondary);
  --vc-nav-background: transparent;
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  background: var(--vc-nav-background);
  border-radius: var(--vc-nav-border-radius);
  width: var(--vc-nav-width);
  height: var(--vc-nav-height);
  text-align: center;
  font-size: var(--vc-nav-height);
  padding: 0;
  color: var(--vc-nav-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 0;
  cursor: pointer;
  margin: 0 10px;
  top: 50%;
  transform: translateY(-50%);
}

.carousel__next--disabled,
.carousel__prev--disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.carousel__prev {
  left: 0;
}

.carousel__next {
  right: 0;
}

.carousel.is-rtl {
  .carousel__prev {
    left: auto;
    right: 0;
  }
  .carousel__next {
    right: auto;
    left: 0;
  }
}

.carousel.is-vertical {
  .carousel__prev,
  .carousel__next {
    left: auto;
    top: auto;
    right: 50%;
    transform: translate(50%);
    margin: 5px auto;
  }
}

.carousel.is-btt {
  .carousel__prev {
    bottom: 0;
  }
  .carousel__next {
    top: 0;
  }
}

.carousel.is-ttb {
  .carousel__prev {
    top: 0;
  }
  .carousel__next {
    bottom: 0;
  }
}

@media (hover: hover) {
  .carousel__prev:hover,
  .carousel__next:hover {
    color: var(--vc-nav-color-hover);
  }
}

:root {
  --vc-pgn-width: 16px;
  --vc-pgn-height: 4px;
  --vc-pgn-margin: 6px 5px;
  --vc-pgn-border-radius: 0;
  --vc-pgn-background-color: var(--vc-clr-secondary);
  --vc-pgn-active-color: var(--vc-clr-primary);
}

.carousel__pagination {
  display: flex;
  justify-content: center;
  list-style: none !important;
  line-height: 0;
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.carousel__pagination-button {
  display: block;
  border: 0;
  margin: 0;
  cursor: pointer;
  padding: var(--vc-pgn-margin);
  background: transparent;
}

.carousel__pagination-button::after {
  display: block;
  content: '';
  width: var(--vc-pgn-width);
  height: var(--vc-pgn-height);
  border-radius: var(--vc-pgn-border-radius);
  background-color: var(--vc-pgn-background-color);
  @apply rounded-sm;
}

.carousel__pagination-button--active::after {
  background-color: var(--vc-pgn-active-color);
}

@media (hover: hover) {
  .carousel__pagination-button:hover::after {
    background-color: var(--vc-pgn-active-color);
  }
}


.carousel.is-vertical {
  .carousel__pagination {
    left: auto;
    right: 5px;
    bottom: 50%;
    transform: translateY(50%);
    flex-direction: column;
  }

  .carousel__pagination-button::after {
    height: var(--vc-pgn-width);
    width: var(--vc-pgn-height);
  }
}
.carousel__slide {
  flex-shrink: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  /* Fix iOS scrolling #22 */
  transform: translateZ(0);
}
