@font-face {
  font-family: OpenSans;
  src: url("@/assets/fonts/OpenSans-Regular.ttf") ;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("@/assets/fonts/OpenSans-Bold.ttf") ;
}

@font-face {
  font-family: OpenSans-Italic;
  src: url("@/assets/fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: ScalaSansOffc;
  src: url("@/assets/fonts/ScalaSansOffc.woff") ;
}

@font-face {
  font-family: ScalaSansOffc;
  src: url("@/assets/fonts/ScalaSansOffc-Italic.woff") ;
  font-style: italic;
}

@font-face {
  font-family: ScalaSansOffc;
  src: url("@/assets/fonts/ScalaSansOffc-Bold.woff") ;
  font-weight: bold;
}

@font-face {
  font-family: ScalaSansOffc;
  src: url("@/assets/fonts/ScalaSansOffc-BoldItalic.woff") ;
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: MrsEavesSmallCaps;
  src:  url("@/assets/fonts/MyMrsEavesSC.woff") format('woff');
  font-weight:100;font-style:normal;
}
@font-face {
  font-family: AusweisHollow;
  src: url("@/assets/fonts/AusweisHollow.ttf") ;
}


b   {font-family: inherit; font-weight: bold;}
i   {font-family: inherit; font-style: italic;}

h1 {
  font-size: theme("fontSize.8") !important;
  font-weight: bold !important;
  font-family: MrsEavesSmallCaps;
  text-align: center;
  letter-spacing: 2px;
  color: theme("colors.primary.700");
}

h2 {
  font-size: theme("fontSize.7") !important;
  font-weight: bold !important;
  text-align: center;
}

h3 {
  font-size: theme("fontSize.6") !important;
  font-weight: bold !important;
}

h4 {
  font-weight: bold !important;
  text-align: center;
}

p {
  margin: theme("spacing.2") 0;
  line-height: theme("spacing.5");
}

q {
  font-family: ScalaSansOffc;
  font-style: italic;
  font-size: 1.1em;
}

a {
  font-weight: 600;
  text-decoration: none;
    color: theme("colors.primary.700");
}

.bold {
  font-weight: bold;
}

.text-shadow {
  text-shadow: 0 0 10px theme("colors.background");
}

.text-max { 
  max-width: 700px;
  margin: 0 auto;
}
