@font-face {
  font-family: OpenSans;
  src: url("@/assets/fonts/OpenSans-Regular.ttf") ;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("@/assets/fonts/OpenSans-Bold.ttf") ;
}

@font-face {
  font-family: OpenSans-Italic;
  src: url("@/assets/fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: ScalaSansOffc;
  src: url("@/assets/fonts/ScalaSansOffc.woff") ;
}

@font-face {
  font-family: ScalaSansOffc;
  src: url("@/assets/fonts/ScalaSansOffc-Italic.woff") ;
  font-style: italic;
}

@font-face {
  font-family: ScalaSansOffc;
  src: url("@/assets/fonts/ScalaSansOffc-Bold.woff") ;
  font-weight: bold;
}

@font-face {
  font-family: ScalaSansOffc;
  src: url("@/assets/fonts/ScalaSansOffc-BoldItalic.woff") ;
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: MrsEavesSmallCaps;
  src:  url("@/assets/fonts/MyMrsEavesSC.woff") format('woff');
  font-weight:100;font-style:normal;
}
@font-face {
  font-family: AusweisHollow;
  src: url("@/assets/fonts/AusweisHollow.ttf") ;
}

.bold {
  font-weight: 500;
}

.text-shadow {
  text-shadow: 0 0 10px theme("colors.background");
}

.text-max { 
  max-width: 700px;
  margin: 0 auto;
}
