.form-line {
  display: block;
  margin: theme("spacing.2") 0;
}

.ms-label {
  color: theme("colors.text");
  font-weight: bold;
  width: 100%;
}

.ms-select {
  padding: theme("spacing.1") theme("spacing.1");
  border-radius: theme("spacing.1");
  box-sizing: border-box;
  text-overflow: ellipsis;
  background-color: theme("colors.background-inset.400");
  border-top: 1px solid theme("colors.background-inset.700");
  border-left: 1px solid theme("colors.background-inset.700");
  border-right: 1px solid theme("colors.background-inset.700");
  border-bottom: 1px solid theme("colors.background-inset.600");
  box-shadow: inset 0px 6px 5px theme("colors.background-inset.500");
  color: theme("colors.text");
  cursor: pointer;
}
.ms-select-75 {
  width: 72%;
}
.ms-select-20 {
  width: 28%;
}
.ms-select-100 {
  display: block;
  width: 100%;
}

.ms-input {
  padding: 0 theme("spacing.1");
  border-radius: theme("spacing.1");
  box-sizing: border-box;
  height: theme("spacing.6");
  background-color: theme("colors.background-inset.400");
  border-top: 1px solid theme("colors.background-inset.700");
  border-left: 1px solid theme("colors.background-inset.700");
  border-right: 1px solid theme("colors.background-inset.700");
  border-bottom: 1px solid theme("colors.background-inset.600");
  box-shadow: inset 0px 6px 5px theme("colors.background-inset.500");
  color: theme("colors.text");
  cursor: text;
}

.ms-select:invalid,
.ms-input:invalid {
  color: theme("colors.danger");
}
.ms-label .ms-select:invalid,
.ms-label .ms-input:invalid {
  color: theme("colors.danger");
}

.ms-input:focus-visible, .ms-select:focus-visible {
  outline: 2px solid theme("colors.text");
  box-shadow: 0 0 0 3px theme("colors.text-inverse");
}

/* 
::-webkit-input-placeholder {
  color: theme("colors.background-inset.700");
  opacity: 1;
}

::-moz-placeholder {
  color: theme("colors.background-inset.700");
  opacity: 1;
}

::-ms-placeholder {
  color: theme("colors.background-inset.700");
  opacity: 1;
}

::placeholder {
  color: theme("colors.background-inset.700");
  opacity: 1;
} */
