h1.static   {
  display: block;
}

.gradient-title {
  display: inline-block;
  background: linear-gradient(90deg, theme("colors.text") 0%, theme("colors.text-evil") 15%, theme("colors.text-neutral") 60%, theme("colors.text-good") 85%, theme("colors.text") 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 5px;
}

.accent {
  @apply text-primary-700;
}
h2.static {
  font-family: "LibreBaskerville", sans-serif;
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1.2em;
  letter-spacing: -0.04em;
  text-align: center;
}
h3.static {
  font-family: "LibreBaskerville", sans-serif;
  font-weight: 800;
  font-size: 1.25rem; 
  line-height: 1.2em;
  letter-spacing: -0.04em;
  @apply py-2;
}
p.static {
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  @apply text-text-1;
}
b.static {;
  font-weight: 700;
  @apply text-text;
}
ul.static {
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  @apply text-text-1;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  @apply list-inside list-disc ml-4 gap-2;
}
ul.static li::marker {
  color: theme("colors.text-evil");
}
ul.static li em {
  font-weight: bold;
}
a.static {
  @apply text-text-evil font-bold;
}
.static + .max-width {
  max-width: 700px;
}
.static-mono {
  font-family: monospace;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: 0.05em;
}
.static-mono .symbol {
  font-weight: 700;
  @apply text-text-evil;
}

.custom-title-h3 {
  font-family: "LibreBaskerville", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  letter-spacing: -0.06em;
}
.custom-title-small {
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.06em;
  font-size: 1rem;
  @apply text-primary-700;
}
.custom-title {
  font-family: "LibreBaskerville", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: -0.05em;
  line-height: 1em;
}

.br-subtitle {
  display: none;
}
@media (min-width: theme("screens.sm")) {
  .br-subtitle {
    display: block;
  }
}
@media (min-width: theme("screens.md")) {
  .custom-title {
    font-size: 4rem;
  }
  .custom-title-small {
    font-size: 1.5rem;
  }
  h2.static {
    font-size: 2rem;
  }
  p.static {
    letter-spacing: 0;
    font-size: 1rem;
  }
  ul.static {
    letter-spacing: 0;
    font-size: 1rem;
  }
}
.strike {
  text-decoration: line-through;
  @apply decoration-text-2;
}
