:root {
  --swift: 0.03s;
  --quick: 0.1s;
  --medium: 0.2s;
  --slow: 0.3s;
  --very-slow: 0.5s;
}
.fade-swift-enter-active,
.fade-swift-leave-active {
  transition: opacity var(--swift) ease-in-out;
}
.fade-swift-enter-from,
.fade-swift-leave-to {
  opacity: 0;
}
.fade-quick-enter-active,
.fade-quick-leave-active {
  transition: opacity var(--quick) ease-in-out;
}
.fade-quick-enter-from,
.fade-quick-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--medium) ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-slow-enter-active,
.fade-slow-leave-active {
  transition: opacity var(--slow) ease-in-out;
}
.fade-slow-enter-from,
.fade-slow-leave-to {
  opacity: 0;
}
.fade-scroll-slow-enter-active,
.fade-scroll-slow-leave-active {
  transition: opacity var(--medium) ease-in-out, transform var(--medium) ease-in-out;
}
.fade-scroll-slow-enter-from,
.fade-scroll-slow-leave-to {
  opacity: 0;
  transform: translateY(5%) scale(0.95);
}



/* 1. declare transition */
.fade-row-move,
.fade-row-enter-active,
.fade-row-leave-active {
  transition: all var(--medium) cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.fade-row-enter-from,
.fade-row-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(-100%, 0);
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.fade-row-leave-active {
  position: absolute !important;
  z-index: -10000;
}


.fade-row-move,
.fade-group-enter-active,
.fade-group-leave-active {
  transition: opacity var(--quick) cubic-bezier(0.55, 0, 0.1, 1), transform var(--quick) cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.fade-group-enter-from,
.fade-group-leave-to {
  opacity: 0;
  /* transform: scaleY(0.01); */
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.fade-group-leave-active {
  z-index: -10000;
  position: absolute !important;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from {
  opacity: 0;
  transform: translateX(30px);
}
.list-leave-to {
  opacity: 0;
  transform: scale(0.1);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}


/* .slidetransition-enter-active {
  transition: all 0.2s ease-out;
}
.slidetransition-leave-active {
  transition: all 0s;
}
.slidetransition-leave-active {
  position: absolute;
}
.slidetransition-enter-from {
  opacity: 0;
  pointer-events: none;
}
.slidetransition-leave-to {
  opacity: 0;
}
.slidetransition-leave {
  opacity: 0;
}
.slidetransition-enter-to {
  opacity: 1;
  pointer-events: auto;
}
.slidetransition-move {
  transition: transform var(--quick) ease-in;
} */


/* .scroll-left-enter-active,
.scroll-left-leave-active {
  transition: all var(--quick) ease;
}
.scroll-left-enter-from,
.scroll-left-leave-to {
  transform: translateX(-20%);
  opacity: 0;
}

.scroll-right-enter-active,
.scroll-right-leave-active {
  transition: all var(--quick) ease;
}
.scroll-right-enter-from,
.scroll-right-leave-to {
  transform: translateX(20%);
  opacity: 0;
} */

.roll-enter-active {
  transition: opacity var(--quick) cubic-bezier(0.55, 0, 0.1, 1), scale var(--quick) cubic-bezier(0.55, 0, 0.1, 1);
}

/* 2. declare enter from and leave to state */
.roll-enter-from {
  scale: 0.01;
  /* transform: scaleY(0.01); */
}

.roll-leave-to {
  opacity: 0;
}

/* 3. ensure leaving items are taken out of layout flow so that moving
      animations can be calculated correctly. */
.roll-leave-active {
    transition: opacity var(--medium) cubic-bezier(0.55, 0, 0.1, 1), scale var(--medium) cubic-bezier(0.55, 0, 0.1, 1);
}

.title-enter-active,
.title-leave-active {
  transition: opacity var(--quick) cubic-bezier(0.55, 0, 0.1, 1), transform var(--quick) cubic-bezier(0.55, 0, 0.1, 1);
}
.title-enter-from {
  opacity: 0;
  transform: translateY(-20%);
}
