
:root {
  --quick: 0.1s;
}

.scroll-left-enter-active,
.scroll-left-leave-active {
  transition: all var(--quick) ease;
}
.scroll-left-enter-from,
.scroll-left-leave-to {
  transform: translateX(-20%);
  opacity: 0;
}

.scroll-right-enter-active,
.scroll-right-leave-active {
  transition: all var(--quick) ease;
}
.scroll-right-enter-from,
.scroll-right-leave-to {
  transform: translateX(20%);
  opacity: 0;
}
