:root {
  --quick: 0.1s;
  --medium: 0.2s;
  --slow: 0.3s;
}

.scroll-left-enter-active,
.scroll-left-leave-active {
  transition: all var(--quick) ease;
}
.scroll-left-enter-from,
.scroll-left-leave-to {
  transform: translateX(-20%);
  opacity: 0;
}

.scroll-right-enter-active,
.scroll-right-leave-active {
  transition: all var(--quick) ease;
}
.scroll-right-enter-from,
.scroll-right-leave-to {
  transform: translateX(20%);
  opacity: 0;
}

.fade-quick-enter-active,
.fade-quick-leave-active {
  transition: opacity var(--quick) ease-in-out;
}
.fade-quick-enter-from,
.fade-quick-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity var(--medium) ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-slow-enter-active,
.fade-slow-leave-active {
  transition: opacity var(--slow) ease-in-out;
}
.fade-slow-enter-from,
.fade-slow-leave-to {
  opacity: 0;
}
.fade-scroll-slow-enter-active,
.fade-scroll-slow-leave-active {
  transition: opacity var(--medium) ease-in-out, transform var(--medium) ease-in-out;
}
.fade-scroll-slow-enter-from,
.fade-scroll-slow-leave-to {
  opacity: 0;
  transform: translateY(5%) scale(0.95);
}

.slidetransition-enter-active {
  transition: all 0.2s ease-out;
}
.slidetransition-leave-active {
  transition: all 0s;
}
.slidetransition-leave-active {
  position: absolute;
}
.slidetransition-enter-from /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  pointer-events: none;
}
.slidetransition-leave-to {
  opacity: 0;
}
.slidetransition-leave {
  opacity: 0;
}
.slidetransition-enter-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 1;
  pointer-events: auto;
}
.slidetransition-move {
  transition: transform var(--quick) ease-in;
}
