.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.centered {
  display: grid;
  place-items: center;
}
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.blurred {
  backdrop-filter: blur(4px);
}

.evil {
  @apply text-text-evil border-text-evil;
}
.good {
  @apply text-text-good border-text-good;
}
.neutral {
  @apply text-text-neutral border-text-neutral;
}

.small-caps {
  font-variant: small-caps;
}
