$screen-small: 480px;
$screen-medium: 1000px;
$screen-large: 1200px;
$background-large: 1600px;
$mobile-navbar: 575px;

:root {
  --screen-small: #{$screen-small};
  --screen-medium: #{$screen-medium};
  --screen-large: #{$screen-large};
  --background-large: #{$background-large};
  --mobile-navbar: #{$mobile-navbar};
}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-small}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-medium}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-large}) {
      @content;
  }
}
.lg-max {
  max-width: $screen-large;
  width: 100%;
  margin: 0 auto;
  padding-left: $s-4;
  padding-right: $s-4;
}
.bg-max {
  max-width: $background-large;
  width: 100%;
  margin: 0 auto;
  padding-left: $s-2;
  padding-right: $s-2;

}
.text-max {
  max-width: 60ch;
}

.sm-only {
  @media (min-width: #{$mobile-navbar}) {
    display: none;
  }
}

// Custom devices
@mixin rwd($screen) {
  @media (max-width: ($screen + 'px')) {
      @content;
  }
}

:export {
  screenSmall: $screen-small;
  screenMedium: $screen-medium;
  screenLarge: $screen-large;
  backgroundLarge: $background-large;
  mobileNavbar: $mobile-navbar;
}
