@font-face {
  font-family: OpenSans;
  src: url("@/assets/fonts/OpenSans-Regular.ttf") ;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("@/assets/fonts/OpenSans-Bold.ttf") ;
}

@font-face {
  font-family: OpenSans-Italic;
  src: url("@/assets/fonts/OpenSans-Italic.ttf");
}

// @font-face {
//   font-family: Domine;
//   src: url("@/assets/fonts/Domine-Regular.woff2") ;
// }

// @font-face {
//   font-family: Domine-Bold;
//   src: url("@/assets/fonts/Domine-Bold.woff2") ;
// }

// @font-face {
//   font-family: Domine-Italic;
//   src: url("@/assets/fonts/Domine-Regular.ttf");
//   font-style: italic;
// }


@font-face {
  font-family: ScalaSansOffc;
  src: url("@/assets/fonts/ScalaSansOffc.woff") ;
}


@font-face {
  font-family: ScalaSansOffc;
  src: url("@/assets/fonts/ScalaSansOffc-Italic.woff") ;
  font-style: italic;
}

@font-face {
  font-family: ScalaSansOffc;
  src: url("@/assets/fonts/ScalaSansOffc-Bold.woff") ;
  font-weight: bold;
}

@font-face {
  font-family: ScalaSansOffc;
  src: url("@/assets/fonts/ScalaSansOffc-BoldItalic.woff") ;
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: MrsEavesSmallCaps;
  src:  url("@/assets/fonts/MyMrsEavesSC.woff") format('woff');
  font-weight:100;font-style:normal;
}
@font-face {
  font-family: AusweisHollow;
  src: url("@/assets/fonts/AusweisHollow.ttf") ;
}

$f-1: 12px;
$f-2: 14px;
$f-3: 16px;
$f-4: 18px;
$f-5: 20px;
$f-6: 24px;
$f-7: 30px;
$f-8: 36px;
$f-9: 48px;
$f-10: 60px;
$f-11: 72px;

:root {
  font-family: OpenSans, sans-serif;
  font-size: $f-3;
}

b   {font-family: inherit; font-weight: bold;}
i   {font-family: inherit; font-style: italic;}

h1 {
  font-size: $f-7;
  font-family: MrsEavesSmallCaps;
  text-align: center;
  letter-spacing: 2px;
  @include themed {
    color: t($primary-700);
  }
}

p {
  margin: $s-2 0;
  line-height: $s-5;
}
