@mixin shadow-0 {
  box-shadow: none;
}
@mixin shadow-1 {
  box-shadow: 0 1px 3px hsla(0deg,0%,0%,.1);
}
@mixin shadow-2 {
  box-shadow: 0 4px 6px hsla(0deg,0%,0%,.1);
}
@mixin shadow-3 {
  box-shadow: 0 5px 15px 0 hsla(0deg,0%,0%,.1);
}
@mixin shadow-4 {
  box-shadow: 0 10px 24px 0 hsla(0deg,0%,0%,.1);
}
@mixin shadow-5 {
  box-shadow: 0 15px 35px 0 hsla(0deg,0%,0%,.1);
}
