@font-face {
  font-family: OpenSans;
  src: url("@/assets/fonts/OpenSans-Regular.ttf") ;
}

@font-face {
  font-family: OpenSans-Bold;
  src: url("@/assets/fonts/OpenSans-Bold.ttf") ;
}

@font-face {
  font-family: OpenSans-Italic;
  src: url("@/assets/fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: Domine;
  src: url("@/assets/fonts/Domine-Regular.woff2") ;
}

@font-face {
  font-family: Domine-Bold;
  src: url("@/assets/fonts/Domine-Bold.woff2") ;
}

@font-face {
  font-family: Domine-Italic;
  src: url("@/assets/fonts/Domine-Regular.ttf");
  font-style: italic;
}


@font-face {
  font-family: ScalaSansOffc;
  src: url("@/assets/fonts/ScalaSansOffc.woff") ;
}


@font-face {
  font-family: ScalaSansOffc;
  src: url("@/assets/fonts/ScalaSansOffc-Italic.woff") ;
  font-style: italic;
}

@font-face {
  font-family: ScalaSansOffc;
  src: url("@/assets/fonts/ScalaSansOffc-Bold.woff") ;
  font-weight: bold;
}

@font-face {
  font-family: ScalaSansOffc;
  src: url("@/assets/fonts/ScalaSansOffc-BoldItalic.woff") ;
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: MrsEavesSmallCaps;
  src:  url("@/assets/fonts/MyMrsEavesSC.woff") format('woff');
  font-weight:100;font-style:normal;
}
@font-face {
  font-family: AusweisHollow;
  src: url("@/assets/fonts/AusweisHollow.ttf") ;
}

html {
  font-family: Domine, sans-serif;
  font-size:16px;
}

b   {font-family: inherit; font-weight: bold;}
i   {font-family: inherit; font-style: italic;}

h1 {
  font-size: 32px;
  font-family: MrsEavesSmallCaps;
  text-align: center;
  letter-spacing: 0.15rem;
  @include themed {
    color: t($primary-700);
  }
}

p {
  margin: 0.5rem 0;
  line-height: 1.5rem;
}