@import "@/assets/functions.scss";
@import "@/assets/colors.scss";
@import "@/assets/breakpoints.scss";
@import "@/assets/spaces.scss";
@import "@/assets/utilityclasses.scss";
@import "@/assets/fonts.scss";
@import "@/assets/shadows.scss";
@import "@/assets/effects.scss";

#app {
  @include themed() {
    color: t($text);
  }
  //font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
form, fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
select:focus {
  outline: 1px solid #000;  
}