@import "@/assets/functions.scss";
@import "@/assets/colors.scss";
@import "@/assets/breakpoints.scss";
@import "@/assets/units.scss";
@import "@/assets/utilityclasses.scss";
@import "@/assets/fonts.scss";
@import "@/assets/shadows.scss";

:root {
  font-size: 17px;
}
#app {
  @include themed() {
    color: t($text);
    background-color: t($background);
  }
  //font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  min-height: 100vh;
}